/** @format */

@keyframes progressAnimation1 {
    from {
        width: 0;
    }
    to {
        width: 25%;
    }
}
@keyframes progressAnimation2 {
    from {
        width: 25%;
    }
    to {
        width: 50%;
    }
}

@keyframes progressAnimation3 {
    from {
        width: 50%;
    }
    to {
        width: 75%;
    }
}


@keyframes progressAnimation4 {
    from {
        width: 75%;
    }
    to {
        width: 100%;
    }
}

.on-boarding {
    &__container {
        display: flex;
    }

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px;
        gap: 48px;
    }

    &__progress-bar {
        background-color: #eeeeee;
        width: 27.5%;
        height: 8px;

        &::before {
            content: "";
            height: 100%;
            background-color: black;
            display: block;
        }
    }

    &__progress-bar {
        &--1 {
            &::before {
                animation: progressAnimation1 0.8s linear forwards;
            }
        }
        &--2 {
            &::before {
                animation: progressAnimation2 0.8s linear forwards;
            }
        }
        &--3 {
            &::before {
                animation: progressAnimation3 0.8s linear forwards;
            }
        }
        &--4 {
            &::before {
                animation: progressAnimation4 0.8s linear forwards;
            }
        }
    }

    &__logo {
        margin-bottom: 32px;
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 48px;
    }

    &__title {
        margin: 0;
    }

    &__description {
        margin: 0;
    }
}
