.stage-page-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
}

.stage-description-container{
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

@media (min-height: 450px) {
    .stage-description-container {
      overflow-y: auto;
    }
  }

.stage-page-two-columns{
    max-height: 450px;
    margin-bottom: 40px;
    overflow: hidden;
}