.dungeon-card{
    &__container{
        display: flex;
        width: 572px;
        padding: 40px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        flex-shrink: 0;
        display: flex;
        border-radius: 20px;
        background: #FFF;
    }
    &__buttons-container{
        display: flex;
        gap: 8px;
        align-self: stretch;
    }

}