.horizontal-card {
  &__container {
    display: flex;
    height: 278px;
    padding: 0px 40px;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.1);

    &--clickable {
      cursor: pointer;
    }
  }

  &__left-side {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-self: center;
  }

  &__badges {
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
  }

  &__discover-text {
    color: #4f4f4f;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }

  &__title {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    margin: 0;
  }
}
