.badge__span {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #f6f6f6;
  color: #545454;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;

  &--universe{
    &-neophyte_nexus{
      background: #FBE9E9;
      color: #821717;
    }
    &-craftmen_crossing{
      background:#E8FDF1;
      color: #33844D;
    }
    &-master_metropolis{
      background: #F3E9FB;
      color: #4E1782;
    }
  }
}
