.badge__span {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #f6f6f6;
  color: #545454;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;

  &--universe{
    &-neophyte_nexus{
      background: #E8F1FD;
      color: #2F80ED;
    }
  }
}
