/** @format */

.navbar {
    &__container {
        position: fixed;
        display: flex;
        padding: 16px 24px;
        justify-content: center;
        align-items: center;
        gap: 20px;
        bottom: 0;
        width: calc(100% - 48px);
        background: #fff;
    }

    &__button {
        display: flex;
        padding: 16px 0px;
        justify-content: center;
        align-items: center;
        gap: 16px;
        flex: 1 0 0;
        background: transparent;
        border-radius: 8px;
        border: none;
        color: #1f1f1f;

        &--active {
            color: #f6f6f6;
            background-color: #1f1f1f;
        }
    }

    &__button-text {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        text-transform: uppercase;
    }
}
