.navbar {
  &__container {
    position: fixed;
    display: flex;
    padding: 24px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #f7f7f7;
    bottom: 0;
    width: 100%;
  }

  &__button {
    display: flex;
    padding: 16px 0px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    background: #F7F7F7;
    border-radius: 8px;
    border: none;
    color: #1f1f1f;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;

    &--active{
      color: #F6F6F6;
      background-color: #1F1F1F;
    }
  }
}
