.header{
    &__container{
        display: flex;
        padding: 16px 40px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        background: #000;
    }
}