.universe-cards-vertical{
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
}

.universe-cards-horizontal{
    display: grid;
    grid-auto-flow: column;
    gap: 32px;
    overflow-x: auto;
}

.universe-container{
    background-repeat: no-repeat;
}

.universe-1{
    // background-image: url("../../../assets/home/universe-1.png");
}