/** @format */

.universe-banner {
    background: var(--Primary-3-Blue-2, #3c2fed);
    padding: 16px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}
