/** @format */

.dungeon-cards {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__title {
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        text-transform: uppercase;
        margin: 0;
    }

    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-right: 40px;
    }

    &__horizontal-container{
      display: flex;
      gap: 24px;
    }
}

.simplebar {
    overflow: visible !important; /* Ensures the scrollbar is visible */
}

.scroll-container {
    overflow-y: auto; /* Enable vertical scrolling */
    height: 100%; /* Ensure the container takes full height */
    padding-bottom: 13px;
}

/* Remove hover effect for the scrollbar thumb */
.simplebar-scrollbar:hover:before {
    cursor: pointer;
}

.simplebar-track {
    background-color: white;
    opacity: 0.6;
}

.simplebar-scrollbar:before {
    background-color: blue; /* Blue scrollbar thumb */
    border-radius: 120px; /* Rounded scrollbar */
    opacity: 1; /* Always visible */
    transition: background-color 0.2s; /* Smooth transition */
}

.simplebar-scrollbar {
    cursor: pointer;
}
