.dungeon-cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
  &__title {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
    margin: 0;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 104px;
  }
}
