.action-button {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  background-color: #000000;
  color: #f6f6f6;
  border-radius: 8px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #6b6b6b;
  }

  &:active {
    background-color: #1f1f1f;
  }

  &:disabled{
    background-color:#AFAFAF;
  }
}

.action-button.action-button-outline {
  border: 1px solid #1f1f1f;
  background: #f6f6f6;
  color: #1f1f1f;

  &:hover {
    color: #6b6b6b;
    border: 1px solid #6b6b6b;
  }

  &:active {
    border: 1px solid #1f1f1f;
    background: #f6f6f6;
    color: #1f1f1f;
  }
}
