.breadcrumb {
  &__container {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px 40px;
  }

  &__link-container{
    display: flex;
    align-items: center;
    gap: 8px;
    
    &:last-child{
      color: red;
    }
  }

  &__link {
    color: #6B6B6B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    &--current{
      color: #1F1F1F;
    }
  }

  &__arrow{
    color : #BDBDBD;
    font-size:16px;
  }
}
