.univers-button-global {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
}

.univers-button {
  &__neophyte_nexus {
    background-color: #3C2FED;
    color: #fff;
    border: none;

    &:hover{
      background-color: #0C438D;
    }

    &--outline {
      border: 1px solid #3C2FED;
      background-color: #FFF;
      color: #3C2FED;
    }
  }
}
