.univers-button-global {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
  width: 100%;
}

.univers-button {
  &__neophyte_nexus {
    background-color: #FF0000;
    color: #fff;
    border: none;

    &:hover{
      background-color: #0C438D;
    }

    &--outline {
      border: 2px solid #A90F0F;
      background-color: #FFF;
      color: #A90F0F;

      &:hover{
        border-color: #A90F0F;
        color: #A90F0F;
        background-color: #FFF;
      }
    }
  }
}
