/** @format */

.step-cards {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        max-height: 585px;
        overflow-y: scroll;
    }
}
