/** @format */

.next-arrow {
    &-neophyte_nexus {
        stroke: #a90f0f;
    }
    &-craftmen_crossing {
        stroke: #00b83a;
    }
    &-master_metropolis {
        stroke: #921fff;
    }
}
